<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>Lolabunny</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIdentifier</key>
    <string>com.sidosera.lolabunny</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Lolabunny</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LolabunnyUpdateProvider</key>
    <string>GitHubGist</string>
    <key>LolabunnyUpdateProvider.GitHubGist.GistID</key>
    <string></string>
    <key>LolabunnyUpdateProvider.GitHubGist.ManifestFile</key>
    <string>manifest.json</string>
    <key>LolabunnyBackendPort</key>
    <string>8085</string>
    <key>LolabunnyBackendAddress</key>
    <string>127.0.0.1</string>
    <key>LolabunnyBackendLogLevel</key>
    <string>normal</string>
    <key>LolabunnyDefaultSearch</key>
    <string>google</string>
    <key>LolabunnyHistoryEnabled</key>
    <string>true</string>
    <key>LolabunnyHistoryMaxEntries</key>
    <string>1000</string>
    <key>LolabunnyBackendWatchdogIntervalSeconds</key>
    <string>20</string>
    <key>LolabunnyVolumePath</key>
    <string></string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
